<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is a sample site deployed to vercel</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius rem, eveniet consequuntur quibusdam doloribus distinctio aliquid quam ipsum? <br> Temporibus consequuntur similique architecto assumenda tenetur vero quis explicabo deserunt ratione asperiores?</p>
</body>
</html>